* {
    
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'SF UI Text Bold';
   
}
.container {
    max-width: 1120px;
   
    height: 100vh;
    margin: 0 auto;

    padding-left: 10px;
    padding-right: 10px;
}

#sec__hero {
    height: 100vh;
    background-color: #151B2B;
    color: white;
    
}
#sec__hero .container{
  display: flex;
  align-items: center;
}

#sec__hero h1 {
    font-size: 46px;
    line-height: 51px;
    margin: 24px 0;
   
}
#sec__hero h2 {
    font-size: 25px;
    font-family:'HK Grotesk SemiBold';
    max-width: 487px;
    line-height: 35px;
    margin: 24px 0;
}
#sec__hero p {
    font-family: 'SF UI Text Regular';
    font-size: 16px;
    color: #8686B2;
    max-width: 500px;
    line-height: 24px;
    margin: 24px 0;
    padding-left: 7px;
}

#sec__hero .logo  {
    padding-top: 41px;
    top:0;
    position: absolute;
}


.left__button a {

    font-family: 'SF UI Text Semibold';
    color:white;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    padding: 9px;
    margin-right: 24px;
    border-radius: 3px;

}
#sec__hero .sec__left .left__button a:first-child {
    background-color:#454658;
    
}

#sec__hero .sec__left .left__button a:last-child {

background-color: #6578C0;
}
#sec__hero .sec__left .sec__title {
    display:flex;
}
/*
#sec__hero .sec__left .sec__title a {
    background-color: blue;
    width: 95px;
    height:28px;
    font-size: 16px;
    margin: 24px 0;
   
}

*/
#sec__second {
    background-color:#F9F9FD;
}
.container_sm {
  
    
   
    
    margin: 0 auto;

    max-width: 910px;
    height: 100%;
    
    padding: 100px 0;
}
#sec__second .container_sm .part1{
   
    text-align: center;
    
}
#sec__second .container_sm .part1 h1 {
    color: #454658;

    font-family:'HK Grotesk Bold' ;
    font-weight: 800;
    font-size: 32px;
    line-height: 35px;
   
}
#sec__second .container_sm .part1 p {
    font-family: 'SF UI Text Regular';
    font-size: 16px;
    color: #454658;
    padding-top: 24px;
    padding-right: 35px;
    padding-left: 35px;  
    margin-bottom: 35px; 

   
    
}
#sec__second .image__wraper {
    display:flex;
    justify-content: center;
    align-items: center;
}
#sec__second .image__wraper img {
    width: 95%;
}


#sec__third {
   

    background-color:#F9F9FD;

}



#sec__third .container_sm .part1 {
  
    
    
    text-align: center;
}
#sec__third .container_sm .part1 h1 {
    color: #454658;
    padding-top: 6px;
    padding-bottom: 17px;
    font-family:'HK Grotesk Bold' ;
    font-weight: 700;
    font-size: 32px;
   
}

#sec__third .container_sm .part1 p {
    font-family: 'SF UI Text Regular';
    font-size: 16px;
    color: #454658;
    margin-bottom: 105px;

}
#sec__third .part2 {
    padding: 24px;
    background: white;
}
#sec__third .part2 .anno {
   height: 34px;
   width: 66px;
    text-align: center;
}
#sec__third .part2 .anno p {
    border-radius: 3px;
    
 
font-family: 'SF UI Text Bold';
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 150%;
padding: 4px 8px;
text-transform: uppercase;


color: #FFFFFF;
background-color: #5D64D2;


}

#sec__third .left__button {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 46px;
    margin-bottom: 101px;
}
#sec__third .left__button a:first-child {
    background-color: #454658;
}
#sec__third .left__button a:last-child {
    background-color: #6578C0;
}


#sec__fourth {
    background-color:#F9F9FD ;
}
#sec__fourth .container_sm{
    max-width: 1060px;
}
#sec__fourth .container_sm .keypoint .k_1 {
    display:grid;
    grid-column-gap: 223px;
    grid-template-columns: 1fr  1fr ;
    
}
#sec__fourth .container_sm .keypoint .k_2 {
    display:grid;
    grid-column-gap: 223px;
    grid-template-columns: 1fr 1fr  ;
    
}
#sec__fourth h2 {
    font-family: 'HK Grotesk Bold';
    font-size: 24px;
    color:#454658;
    margin-bottom: 24px;
}
#sec__fourth p {
    font-family : 'SF UI Text Regular';
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    font-weight: 400;
}
#sec__fourth  span {
    padding-top: 40px;
}
#sec__fourth a {
    
    font-family: 'SF UI Text Bold';

font-weight: bold;
font-size: 12px;
line-height: 130%;

text-transform: uppercase;
text-decoration: none;
color: #5D64D2;
}
.k_1 {
    margin-bottom: 65px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #151B2B;
}